.pfp {
  width: 65%;
  /* height: 100%; */
  padding-left: 5%;

  /* box-shadow: 2px solid white; */
}
.pfpHandle {
  display: flex;
  padding: 4% 0;
  justify-content: start;
}

/* Mobile screens */
@media screen and (max-width: 768px) {
  .pfpHandle {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
