.about {
  display: flex;
  padding-top: 7rem;
}
@media (min-width: 880px) and (max-width: 1244px) {
  .about {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

/* Mobile Screens */
@media screen and (max-width: 880px) {
  .about {
    padding-top: 5rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
