.contact_section {
  padding: 5rem 10%;
  /* padding-top: 5rem;
  padding-bottom: 5rem; */
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 4rem;
}

.contact_section h1 {
  color: white;
  font-size: 1.5rem;
}
.send {
  display: flex;
  gap: 0.5rem;
  color: skyblue;
  opacity: 0.8;
  align-items: center;
  /* justify-content: center; */
}
.flex_row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.socials {
  color: silver;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-evenly;
}
.socials p {
  font-size: 1.25rem;
  width: 68%;
}
.social_media {
  display: flex;
}
.social_text ul {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1.5rem;
}

.social_text li,
.social_text ul {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: silver;
}
a:focus,
a:hover {
  color: #46b2a1;
}

@media screen and (max-width: 768px) {
  .contact_section {
    gap: 2rem;
  }
  .flex_row {
    flex-direction: column;
    gap: 2rem;
  }
  .social_media {
    flex-direction: column;
  }
  .social_text ul {
    display: none;
  }
  .socials p {
    width: 100%;
    max-width: 100%;
    font-size: 0.92rem;
    margin-bottom: 2rem;
  }
}
